<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
<input type="number" name="amount1" value="10">
<select name = "currency1">
  <option value="USD">USD</option>
  <option value="EUR">EUR</option>
</select><br>
<textarea rows="4" cols="50" name = "description1" >description
</textarea><br>
<button type="submit">PAY</button><br>
    </form>

<table>
  <tr>
    <th>Curency</th>
    <th>Date time</th>
    <th>Amount</th>
    <th>Description</th>
    <th>Result Pay</th>
    <th>Pay Way</th>
    <th>IDPAY</th>
  </tr>
{% block content %}
{% for item in log %}
    <tr>
    <td>{{ item.currency }}</td>
    <td>{{ item.datetime }}</td>
    <td>{{ item.amount }}</td>
    <td>{{ item.description }}</td>
    <td>{{ item.result_pay }}</td>
    <td>{{ item.pay_way }}</td>
    <td>{{ item.shop_invoice_id }}</td>
    </tr>

{% endfor %}

    </table>

<form id="Pay" name="Pay" method="post" target="_blank" action="https://tip.pay-trio.com/ru/" accept-charset="UTF-8">
<input  type="hidden"  name="amount" value={{ amount }}    ><br>
<input  type="hidden"  name="currency" value={{ currency }}    ><br>
<input  type="hidden"  name="shop_id" value={{ shop_id }}  ><br>
<input  type="hidden"  name="sign" id="sign" value={{ sign }}><br>
<input  type="hidden"  name="shop_invoice_id" value={{ shop_invoice_id }}  ><br>
<input  type="hidden"  name="description" value="Test invoice" ><br>
<input  type="hidden" type="submit" name = "pay_button"/>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        $( document ).ready(function() {
    if (document.getElementById("sign").value.length>1)
    {
       document.getElementById("Pay").submit();
       document.getElementById("sign").value="";

    }
});



    </script>
</form>

    </body>
</html>
{% endblock %}